<!doctype html>
<html>
  <head>
    <title>HTMX + FastAPI</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
  </head>
  <body>
    <h1>HTMX & FastAPI {% if debug %}(DEBUG){% endif %}</h1>
    <header class="flex flex-row w-100">
      <form id="form-path" hx-post="/root" hx-target="#main" hx-swap="innerHTML">
        <input
          id="form-path-input"
          name="path"
          type="text"
          placeholder="Insert sub-path here"
        />
        <button type="submit">Go</button>
      </form>
    </header>
    <main id="main" class="w-100" hx-get="/root" hx-trigger="load"></main>
  </body>
</html>
