<!doctype html>
<html>
  <head>
    <title>File Selector</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
  </head>
  <body>
    <h1>
      <a class="black link" href="/">File Selector</a>
    </h1>
    <header class="flex flex-row w-100">
      <form hx-post="/root" hx-target="#main" hx-swap="innerHTML">
        <input name="sub_path" type="text" />
        <button type="submit">Go</button>
      </form>
    </header>
    <main
      id="main"
      class="w-100 overflow-x-auto"
      hx-get="/root/{{ sub_path }}"
      hx-trigger="load"
    ></main>
  </body>
</html>
