<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Weight</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in contents %}
    <tr>
      <td><input type="checkbox" name="selected" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.weight }}</td>
      <td>{{ item.created }}</td>
      <td>{{ item.updated }}</td>
      <td><button type="button">Edit</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
