{% if not path.exists() %}
<p>Path {{ path }} doesn't exists</p>
<p>Return to <a href="/">Base Folder</a></p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody class="courier">
    <!-- Back one folder -->
    {% if back_path %}
    <tr>
      <td></td>
      <td>🖿</td>
      <td class="tl ph2 gray">
        <input type="hidden" id="item-path-back" name="path" value="{{ back_path }}" />
        <a
          class="link"
          hx-get="/hx/table/{{ back_path }}"
          hx-target="#main"
          hx-swap="innerHTML"
          hx-replace-url="/home/{{back_path}}"
        >
          Parent Folder
        </a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endif %}

    <!-- Content rows-->
    {% for item in contents %}
    <tr>
      <td>
        <input
          type="checkbox" {% if item.selected %}checked{% endif %}
          onclick="axios({url: '/api/select/{{ item.path.relative_to(base_path) }}', method: (this.checked) ? 'POST' : 'DELETE' })"
        />
      </td>
      <td class="tc">{% if item.path.is_dir() %}🖿{% else %}🗋 {% endif %}</td>
      <td class="tl ph2 nowrap overflow-auto text-overflow measure-narrow">
        {% if item.path.is_dir() %}
        <a
          class="link truncate"
          hx-get="/hx/table/{{ item.path.relative_to(base_path) }}"
          hx-target="#main"
          hx-swap="innerHTML"
          hx-replace-url="/home/{{ item.path.relative_to(base_path) }}"
        >
          {{ item.name }}
        </a>
        {% else %} {{ item.name }} {% endif %}
      </td>
      <td class="tr ph2 nowrap">{{ item.size | formatsize }}</td>
      <td class="tc ph2">{{ item.created.strftime("%d/%m/%y") }}</td>
      <td class="tc ph2">{{ item.modified.strftime("%d/%m/%y") }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
